// Matrix Theme colors
$background-color: #121212;
$primary-color: #00ff8a;
$text-color-primary: #e0e0e0;
$text-color-secondary: #b3b3b3;
$button-hover-color: #008c4a;
$error-color: #ff5252;

body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
  color: $text-color-primary;
  font-family: "Poppins", sans-serif;
}

a {
  color: $primary-color;
  text-decoration: none;
  &:hover {
    color: $button-hover-color;
  }
}
.matrix-style {
  font-family: "Roboto Mono", monospace;
  color: #00ff8a;
  background-color: #1e1e1e;
}

.matrix-hover {
  background-color: #121212;
  color: #00ff8a;
  border: 1px solid #00ff8a;
  transition: all 0.3s ease;
}

.matrix-hover:hover {
  background-color: #1e1e1e;
}

.matrix-modal-header {
  background-color: #121212;
  color: #00ff8a;
}

.matrix-modal-body {
  background-color: #1e1e1e;
  color: #00ff8a;
}

.matrix-modal-footer {
  background-color: #121212;
  color: #00ff8a;
}

button {
  background-color: $primary-color;
  color: $background-color;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: $button-hover-color;
  }

  &:disabled {
    background-color: $text-color-secondary;
    cursor: not-allowed;
  }
}

input,
textarea,
select {
  background-color: transparent;
  border: 1px solid $primary-color;
  color: $text-color-primary;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  outline: none;

  &:focus {
    border-color: $button-hover-color;
    box-shadow: 0 0 5px $primary-color;
  }
}

.navbar {
  background-color: rgba(18, 18, 18, 0.85);
  padding: 1rem;
  border-bottom: 1px solid $primary-color;

  a {
    color: $text-color-primary;
    font-weight: bold;
    margin-right: 1rem;
    &:hover {
      color: $primary-color;
    }
  }
}
.list-group-item.matrix-hover {
  background-color: #121212;
  color: #00ff8a;
  border: 1px solid #00ff8a;
  transition: all 0.3s ease-in-out;
}

.list-group-item.matrix-hover:hover {
  background-color: #1e1e1e;
  color: #00ff8a;
}
.rsvp-list {
  background-color: #1e1e1e;
  border: 1px solid #00ff8a;
  color: #00ff8a;
}

.rsvp-list-item {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #00ff8a;
  background-color: #121212;
  transition: background-color 0.3s ease-in-out;
}

.rsvp-list-item:hover {
  background-color: #1e1e1e;
}

.badge {
  font-size: 0.9rem;
}

.badge.bg-success {
  background-color: #008c4a;
}

.badge.bg-warning {
  background-color: #ffa500;
}

.badge.bg-danger {
  background-color: #ff5252;
}
